<h1>Welcome to Scrabble Score</h1>
<form action="/score">
  <div class="form-group">
     <label for="score">Please enter a word to see the score:
</label>
     <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
